<h1 class="text-center">Pricing</h1>

<div class="d-flex justify-content-center">
    <% @plans.each do |plan| %>
      <div class="col-sm-3">
      <h5><%= plan.name %></h5>
      <h2><%= formatted_amount plan.amount %></h2>
      <div class="mb-3"><small class="text-muted">per <%= plan.interval %> </samll>
      <%= link_to "Subscribe", new_subscription_path(plan_id: plan.id), class: "btn btn-primary" %>
      </div>
    <% end %>
</div>